
# Common
Flask==2.1.0
fastapi
uvicorn

# plaid
plaid_python==17.0.0
itsdangerous==2.0.1

# manager
bunnet
markupsafe #might not be necessary
pydantic

# gui
streamlit
streamlit-modal

# mongo
pymongo

# xlsx
openpyxl==3.0.10

# general
pydantic
python-dotenv==0.20.0
pyyaml==6.0
plaid-python
pandas
configparser
Werkzeug==2.3.6